{% extends 'base.html' %}

{% block content %}

<div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col s12 center-align has-text-centered">
        <i class="large material-icons green-text">check_circle</i>
    </div>
    <div class="col s12 center-align has-text-centered">
        <h3>Your password has been succesfully changed</h3>
    </div>
    <div class="col s12 center-align has-text-centered">
        <strong><a href="{% url 'index' %}">Home</a></strong>
    </div>


</div>

<br>
<br>
{% endblock %}