{% extends 'base.html' %}


{% load static %}
{% load humanize %}
{% block content %}
<div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">

        {% for post_item in post_items %}

        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <a href="{{ post_item.get_absolute_url }}"><img src="{{ post_item.picture.url }}"
                                                                    alt="Placeholder image"></a>
                </figure>
            </div>
            <div class="card-content">

                <div class="media">
                    <div class="media-right">
                        <a href="{% url 'postlike' post_item.id %}">
                            <i class="material-icons  has-text-danger">favorite</i>
                        </a>
                    </div>
                    <div class="media-right">
                        <a  href="{{ post_item.get_absolute_url }}">
                            <i class="material-icons  ">mode_comment</i>
                        </a>
                    </div>


                </div>
                <div class="media-content">
                        <strong><p>{{ post_item.likes }} Likes</p></strong> </br>
                        <a href="{% url 'profile' post_item.user %}"><p class="subtitle is-6">
                            <b>{{ post_item.user.username }}</b></p></a>
                    </div>

                <div class="content">
                    {{ post_item.caption }}
                    <p>{% for tag in post_item.tags.all %}<a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
                        {% endfor %}</p>
                    <br>
                    <time>{{ post_item.posted|naturaltime }}</time>
                </div>

            </div>
        </div>
        <br>
        {% endfor %}


    </div>
</div>
{% endblock %}
