{% extends 'base.html' %}


{% load static %}

{% block content %}


<div class="columns is-mobile has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <div class="card">

                    <h3 class="title is-1">New Post</h3>

                    <div class="card-content">


                        <form method="post" action="" enctype="multipart/form-data" role="form">
                            {% csrf_token %}
                            <h3>Create an account</h3>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <label class="label is-medium">Upload picture :</label>
                                    {{ form.picture }}

                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <label class="label is-medium">caption :</label>
                                    {{ form.caption }}

                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <label class="label is-medium">tags (separate your tags with commas):</label>
                                    {{ form.tags }}

                                </p>
                            </div>

                            <div class="field">
                                <p class="control">
                                    <button type="submit" name="action" class="button is-success">
                                        Post
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
