{% extends 'base.html' %}


{% load static %}

{% block content %}
<div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">

        <!-- comments -->
        <div class="notification">
            <button class="delete"></button>
            <div class="content media-right">

                <strong>name</strong>
                <small>@name</small>
                <br>
                commented:
                <br>
                lorem
                <br>
                <small>date</small>

            </div>
            <div class="media-right">
                <figure class="image is-128x128">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
            </div>
        </div>

        <!-- end comment -->

        <!-- follow -->
        <div class="notification">
            <button class="delete"></button>
            <div class="content">
                <p>
                    <strong>name</strong>
                    <small>@name</small>
                    <br>
                <p><i class="material-icons">person_add</i>Followed you </p></p>
                <small>date</small>

            </div>
        </div>

        <!-- end follow -->


        <!-- like -->
        {% if notification.notification_type == 1 %}
        <div class="notification">
            <a href="" class="delete"></a>

            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        {% if notification.sender.profile.picture %}
                        <img src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
                        {% else %}
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        {% endif %}
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <strong>{{ notification.sender.profile.first_name }}
                            {{ notification.sender.profile.last_name }}</strong>
                        <small>@{{ notification.sender.username }}</small>
                        <br>
                        <p><i class="material-icons">thumb_up</i> Liked your post</p>
                        <strong>
                            <small>{{ notification.date }}</small>
                        </strong>
                    </div>
                </div>

                <div class="media-right">
                    <figure class="image is-128x128">
                        <img src="{{ notification.post.picture.url }}">
                    </figure>
                </div>
            </article>

        </div>
        {% endif %}


        <!-- end like -->

    </div>
</div>
{% endblock %}
