{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="columns is-mobile is-centered">
    <div class="column is-offset-one-quarter">
        <div class="field is-grouped " class="inline">
            <form style="  display: flex;
                          flex-flow: row wrap;
                          align-items: center;
                          margin: 0 auto;
                          width: 70%;">
                <p class="control">
                    <input class="input is-medium" name="q" type="text" placeholder="Search users..."
                           value="{{ request.GET.q }}">
                </p>

                <p class="control">
                    <button type="submit" class="button media-right is-medium">Search</button>
                </p>
            </form>
        </div>


    </div>
</div>

<div class="column is-narrow">

    {% for user in users %}
    <div class="box" style="width: 50% ; margin: 15px auto ; margin-bottom: 30px ;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    {% if user.profile.picture %}
                    <a href="{% url 'profile' user.username %}" style="color: black">
                        <img class="is-rounded " src="{{ user.profile.picture.url }}"
                             alt="Placeholder image"></a>
                    {% else %}
                    <a href="{% url 'profile' user.username %}" style="color: black">
                        <img class="is-rounded " src="https://bulma.io/images/placeholders/96x96.png"
                             alt="Placeholder image"></a>
                    {% endif %}
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        {% if user.profile.first_name %}
                        <a href="{% url 'profile' user.username %}" style="color: black"><strong>
                            {{ user.profile.first_name }} {{ user.profile.last_name }} /
                        </strong></a>
                        {% endif %}

                        <a href="{% url 'profile' user.username %}" style="color: black">
                            <small>
                                <b>@{{ user.username }}</b>
                            </small>
                        </a>
                    </p>
                    <a href="{% url 'newconversation' user.username %}" class="button is-info">Send a message!</a>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}


</div>

{% endblock %}
